body{
    margin: auto 0;
}

.zone {
    /*padding:30px 50px;*/
    /*margin:40px 60px;*/
    cursor:pointer;
    /*display:inline-block;*/
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*NAV*/
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}

.main-nav{
    display: flex;
    list-style: none;
    margin: 0;

}

li{
    font-size: 0.7em;
    padding: 20px 20px 20px 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

.push{
    margin-left: auto;
}

/*COVER*/

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

/*Grid*/

.grid-wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));

}

.box > img{
    width: 100%;
    height: 100%;
}

.box{
    padding: 50px;
    margin: 20px;
    background: linear-gradient(to bottom, rgb(136, 160, 137), rgb(127, 153, 86));
}

footer{
    text-align: center;
}
/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.Blue{
    /*background: #56B870; 
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); 
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); 
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%);     
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); 
    background: linear-gradient(top, #56B870 0%,#a5c956 100%);*/
    background: linear-gradient(to right, rgb(178, 240, 180), rgb(57, 157, 243));
    /*animation: changingsky 5s infinite;*/
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: linear-gradient(to right, rgb(110, 175, 110), rgb(49, 99, 68));
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
/*.yellow{
    background: linear-gradient(to right, rgb(178, 240, 180), rgb(57, 157, 243));
}*/

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: linear-gradient(to bottom, rgb(178, 240, 180), rgb(57, 157, 243));
}

/*@keyframes changingsky {
  0% {
    background: linear-gradient(to right, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }
  15% {
    background: linear-gradient(to left, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }
  30% {
    background: linear-gradient(to right, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }
  45% {
    background: linear-gradient(to left, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }
  60% {
    background: linear-gradient(to right, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }
  75% {
    background: linear-gradient(to left, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }
  90% {
    background: linear-gradient(to right, rgb(178, 240, 180), rgb(57, 157, 243));
    animation-timing-function: linear;
  }

}*/

/*lamp*/

/*.halfCircleBottom {
  height: 135px;
  width: 270px;
  margin-top: 40px;
  border-radius: 0 0 270px 270px;
  background: brown;
}

.leaf {
  width: 150px;
  height: 150px;
  background: orange;
  border-radius: 0px 100px 0px 100px;
  animation: zoominout 1s infinite;
}

.smallleaf {
  width: 80px;
  height: 80px;
  background: yellow;
  border-radius: 0px 50px 0px 50px;
  animation: zoominout 0.6s infinite;
}

.triangle {
  width: 0;
  height: 0;
  border-bottom: 100px solid brown;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transform: scaleX(0.5);
}

@keyframes zoominout {
  0% {
    transform: scale(1, 1) rotate(45deg);
  }

  50% {
    transform: scale(1.2, 1.2) rotate(45deg);
  }

  100% {
    transform: scale(1, 1) rotate(45deg);
  }
}

@keyframes zoominouttext {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}*/

.textbox {
    /*color: linear-gradient(to right, rgb(255, 255, 255), rgb(243, 165, 186));*/
    font-size: 100px;
    font-family: "Pacifico", cursive;
    animation: zoominouttext 1.5s infinite;
    position: absolute;
}

@keyframes zoominouttext {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
